<h2> Welcome to the PDS Tour App </h2>
<h4>Please enter the following information to continue</h4>



<form action="{{ url_for("gfg")}}" method="post">
<label for="firstname">Which room would you like to go to?</label>
<input type="text" id="firstname" name="fname" placeholder="227">
<br>
<br>
<button type="submit">Submit</button>
</form>
<h3>Or click below to start the virtual tour</h3>


<form action="{{ url_for("fgf")}}" >
<button type="submit">Start Virtual Tour</button>
</form>
<!--
  <label for="lastname">What is your goal?</label>
<input type="text" id="lastname" name="lname" placeholder="Destruction of Marley">
<br>
<br>













-->